
Button {

    fontFamily: Arial;
    fontSize: 12;
    textAlign:left;
    width:150;
    height:30;

    upSkin:ClassReference('flex.common.css.GradientRectangleSkin');
    downSkin:ClassReference('flex.common.css.GradientRectangleSkin');
    overSkin:ClassReference('flex.common.css.GradientRectangleSkin');
    disabledSkin:ClassReference('flex.common.css.GradientRectangleSkin');
}

Panel {
    paddingLeft:"40";
    paddingRight:"40";
    paddingTop:"10";
    paddingBottom:"10";
    backgroundColor:"0xF1FFEE";
    borderThicknessLeft:"1";
    borderThicknessRight:"1";
    borderThicknessBottom:"1";
    borderColor:"0x5daaa0";
    roundedBottomCorners:"true";
    titleBackgroundSkin:ClassReference("flex.common.css.GradientPanelTitleSkin");
}

DataGrid {

    verticalSeparatorSkin:ClassReference("flex.common.css.GradientSeparator");
    headerBackgroundSkin:ClassReference("flex.common.css.GradientPanelTitleSkin");
}